*,
body {
  padding: 0;
  margin: 0;
}

.fighterCard {
  display: flex;
  margin: 70px 0px;
  .fighterName {
    font-size: 28px;
  }
  .fighterData {
    p:nth-child(2),
    p:nth-child(3) {
      margin: 20px 0px;
      font-size: 18px;
    }
    button {
      width: 200px;
      text-decoration: none;
      border: 2px solid rgb(52, 141, 214);
      background: none;
      padding: 15px;
      cursor: pointer;
      font-size: 18px;
      margin-top: 15px;
    }
  }
  .fighterMoreData {
    margin-left: 70px;
    p:nth-child(1) {
      margin-top: 0px;
    }
    p {
      margin: 20px 0px;
      font-size: 18px;
      span {
        font-size: 20px;
        color: grey;
        font-weight: 600;
      }
    }
    p:last-child {
      margin-bottom: 0px;
    }
  }
}

#lastfoughtLabel {
  margin-left: 100px;
}
label {
  margin: 0px 5px;
}
.filterBtn {
  color: black;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid black;
  background: none;
  margin-left: 15px;
}

.filterTitle {
  margin: 20px 20px 20px 5px;
  font-size: 22px;
}
